html {
    scroll-behavior: smooth;
}
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
}
/* HOME PAGE */
.home {
    background-image: url('homebg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
.navcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    height: 15vh;
    /* border: 2px solid white; */
}
.logo_pic {
    height: 4rem;
}
ul {
    display: flex;
    align-items: center
    border: 2px solid;
}
ul li {
    list-style-type: none;
    margin-right: 2rem;
}
.navitem {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.navitem::after {
    content:"";
    width: 0;
    height: 0.3rem;
    background-color: #4267B2;
    margin: auto;
    display: block;  
    margin-top: 10px;
}
.navitem:hover:after {
    width: 100%;
    transition: width 0.3s linear;
}
.logo {
    color: white;
}
.greeting {
    width:50vw;
    /* border: 5px solid white; */
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name {
    line-height: 1rem;
}
#greettext {
    color: white;
    font-size: 5rem;
}
#greetjob {
    font-size: 3rem;
    color: gray;
}
#greetname {
    font-size: 8rem;
    color: white;
}
#greetname span {
    color: #4267B2;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.btn {
    max-width: 50%;
    border: 0.3rem solid #4267B2;
    background: none;
    border-radius: 1rem;
    transition: background-color 0.5s;
    
    
}
.btn a {
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn:hover {
    background-color: #4267B2;
    color: white;
}

/* ABOUT */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
    background-color: black;
}
.title {
    color: #4267B2;
    font-size: 5rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    align-self: flex-start;
    margin-left: 10vw;
}
#abttitle, #acadtitle {
    
}
.about_card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.about_img img {
    height: 70vh;
    margin-right: 3rem;
    border-radius: 5rem;
}
.about_info {
    display: grid;
    grid-template-rows: 20vh 25vh 25vh;
    grid-template-columns: 25vw 25vw;
}
.about_description {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.about_description p {
    color: white;
    font-size: 2rem;
}
.about_description span {
    color: #4267B2;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.experience {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    padding-left: 1rem;
    border-radius: 4rem 0 0 4rem;
    text-overflow: hidden;
}
.education {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    border-radius: 0 4rem 4rem 0;
    padding-left: 1rem;
    position: relative;
}
.infotitle {
    font-size: 2.5rem;
    color: #4267B2;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.infoname {
    font-size: 1.5rem;
    color: white;
}
.details {
    font-size: 1rem;
    color: grey;
}
.infotitle, .infoname, .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 0.5rem;;
}
.infoname, .details {
    line-height: 0.3rem;
}
.credentials {
    color: white;
    position: absolute;
    text-decoration: none;
    top: 80%;
    left: 50%;
    font-size: 2rem;
    background: none;
    border: none;
    text-align: left;
    transition: text-shadow, transform 0.5s ease;
    
}
.credentials:hover {
    text-shadow: 0 0 5rem #4267B2,
                 0 0 7rem #4267B2,
                 0 0 9rem #4267B2,
                 0 0 11rem #4267B2;
    transform: scale(1.3);
}
/* ACADEMICS */
.academics {
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
.acadcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.acadcards {
    width: 35vw;
    max-width: 35vw;
    border: 2px solid;
    min-height: 70vh;
    margin-left: 5rem;
    border: none;
    border-radius: 2rem 2rem 2rem 2rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgimg {
    position: absolute;
    background-size: cover;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.60;
    overflow: hidden;
    transition: 0.4s ease;
}
.view {
    transition: 0.4s ease;
    position: absolute; 
    height: 100%;
    width: 100%;    
    opacity: 0;
    z-index: 2;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bgacad {
    background-image: url('actPic.jpeg');
}
#bgsched {
    background-image: url('schedPic.jpg');
}
.content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}
.cardTitle {
    color: #4267B2;
    font-size: 4rem;
    font-weight: 700;
    margin-left: 1rem;
    text-decoration: none; 
    z-index: 3;
    position: relative;
}
.detailContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
}
.detailContainer h3, p {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    color: white; 
    font-weight: 400;
    opacity: 1;
    
}
a {
    text-decoration: none;
    
}
a:hover .bgimg {
    transform: scale(1.1);
    opacity: 0.3;
}
a:hover .content{
    display: none;
}
a:hover h1 {
    transform: scale(2);
    color: white;
    opacity: 1;
}
/* PNC */
.pnc {
    height: 100vh;
    background-image: url('pncbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.pncContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pncCards {
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5rem;
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    z-index: 2;
} 
.pncbgwhite {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 2rem 2rem 2rem 2rem;
}
.pncTitle {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
    z-index: 2;
}
.pncContent {
    color: gray;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    z-index: 2;
    font-style: italic;
}